In [25]:
import pandas as pd
df = pd.read_csv('kr2/restaurants.csv', sep = ',')
df.head(10)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0

In [2]:
select_float = df.select_dtypes(include=['float64'])
select_float.shape[1]

3

In [3]:
select_object = df.select_dtypes(include=['object'])
select_object.shape[0]

784

In [4]:
df.shape[1]

7

In [5]:
df.describe(include=['object'])

       city_name specialisation
count        784            784
unique        63             27
top         Омск           Суши
freq          14            329

In [6]:
df[df.specialisation == 'Рыба']['vendor_id'].nunique()

30

In [7]:
round(df['successful_orders'].mean())

115.0

In [8]:
df['city_name'].value_counts().tail(1)
# df.sort_values(by=['city_name', 'successful_orders'], ascending=[True, True])

Ханты-Мансийск    2
Name: city_name, dtype: int64

In [9]:
df['fail_orders'][df.fail_orders > 20].shape[0]

10

In [10]:
df['fail_orders'][(df.fail_orders > 20) & (df.successful_orders < 500)].shape[0]

5

In [11]:
# tmp = df.groupby(by='specialisation')['successful_orders'].mean()
# tmp['specialisation' == 'Выпечка']
round(df[df.specialisation == 'Выпечка']['successful_orders'].mean())

13.0

In [12]:
tmp = df.groupby(by = 'specialisation')['fail_orders'].sum() / (df.groupby(by = 'specialisation')['fail_orders'].sum() + df.groupby(by = 'specialisation')['successful_orders'].sum() + df.groupby(by = 'specialisation')['reorders'].sum())
tmp.sort_values().index[-1]

'Вегетарианское меню'

In [13]:
df[df.specialisation == 'Бургеры']['successful_orders'].max()

506.0

In [14]:
round(df[(df.specialisation == 'Суши') & (df.city_name == 'Белгород')]['successful_orders'].mean())

328.0

In [15]:
df1 = pd.read_csv('kr2/restaurant_scores.csv',sep=',')
df1.head(5)

res = pd.merge(df,df1,left_on = 'vendor_id',right_on = 'id')
round(res[df.chain_id == 27399]['model_score'].mean(),2)

0.61

In [44]:
df.groupby(by = 'specialisation')['successful_orders'].max().sort_values()

specialisation
Хот-доги                  5.0
Корейская                 9.0
Вегетарианское меню      12.0
Десерты                  22.0
Выпечка                  24.0
Узбекская                25.0
Мексиканская             33.0
Паназиатская             38.0
Фастфуд                  66.0
Паста и ризотто          66.0
Индийская                75.0
Шаурма                   93.0
Итальянская             112.0
Грузинская              131.0
Мясо                    179.0
Пироги                  185.0
Сэндвичи                241.0
Рыба                    315.0
Шашлыки                 323.0
Китайская               355.0
Японская                461.0
Супы                    480.0
Бургеры                 506.0
Гирос                   682.0
Русская                 919.0
Суши                   1401.0
Пицца                  1644.0
Name: successful_orders, dtype: float64

AttributeError: 'DataFrame' object has no attribute 'series'