In [20]:
import pandas as pd
df = pd.read_csv('kr2/restaurants.csv', sep = ',')
df.head(10)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0

In [17]:
select_float = df.select_dtypes(include=['float64'])
select_float.shape[1]

3

In [14]:
select_object = df.select_dtypes(include=['object'])
select_object.shape[0]

2

In [19]:
df.shape[1]

7

In [23]:
df.describe(include=['object'])

       city_name specialisation
count        784            784
unique        63             27
top         Сочи           Суши
freq          14            329

In [27]:
df[df.specialisation == 'Рыба']['vendor_id'].nunique()

30

In [31]:
round(df['successful_orders'].mean())

115.0

In [41]:
df['city_name'].value_counts().tail(1)
# df.sort_values(by=['city_name', 'successful_orders'], ascending=[True, True])

Ханты-Мансийск    2
Name: city_name, dtype: int64

In [43]:
df['fail_orders'][df.fail_orders > 20].shape[0]

10

In [52]:
df['fail_orders'][(df.fail_orders > 20) & (df.successful_orders < 500)].shape[0]

5

In [74]:
# tmp = df.groupby(by='specialisation')['successful_orders'].mean()
# tmp['specialisation' == 'Выпечка']
round(df[df.specialisation == 'Выпечка']['successful_orders'].mean())

13.0

In [92]:
tmp = df.groupby(by = 'specialisation')['fail_orders'].sum() / (df.groupby(by = 'specialisation')['fail_orders'].sum() + df.groupby(by = 'specialisation')['successful_orders'].sum() + df.groupby(by = 'specialisation')['reorders'].sum())
tmp['specialisation'].min()

KeyError: 'specialisation'

In [76]:
df[df.specialisation == 'Бургеры']['successful_orders'].max()

506.0

In [80]:
round(df[(df.specialisation == 'Суши') & (df.city_name == 'Белгород')]['successful_orders'].mean())

328.0